{% extends "nested_results.html" %}

{% block "index" %}
    {% if questions %}
        <ul>
        {% for key, value in questions.items %}
            <div>
                <li>{{ key.question_text }}</a></li>
                {% for choice in value %}
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'vote' choice.id %} ">{{ choice.choice_text }}</a>
                    {% else %}
                        {{ choice.choice_text }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        </ul>
        <div>
            <a href="{% url 'results' %}">View results</a>
        </div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}